body{
    background-color: #ccc;
    .page{
        max-width: 450px;
        width: 100%;
        margin: auto;
    }
}

.bg1{
    background-color: #000!important;
}
.color1{
    color: #134659!important;
}

#header{
    .logo{
        width: 100%;
        max-width: 250px;
    }
}

#contact{
    .blocks{
        .block{
            width: 85px;
            line-height: 1.5rem;
        }
    }
    .lines{
        .line{
            .line-icon{
                width: 50px;
                text-align: center;
            }
        }
    }
}
